# .env.example
GOOGLE_SHEET_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwZ_e4BUQBKC0M5G2liDL5u1OA__qGN2ZYazd_FIGEXe4JOqk6me_NV0a70uvpd5kpR/exec
GEMINI_API_KEY=
# Netlify OAuth
NETLIFY_CLIENT_ID=
NETLIFY_CLIENT_SECRET=
